h3 {
    font-size: 18px;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
}

h1,
h2,
h3 {
    line-height: 20px;
}

h1 {
    font-size: 38.5px;
}

h2 {
    font-size: 31.5px;
}

h3 {
    font-size: 24.5px;
}

h4 {
    font-size: 17.5px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.9px;
}

h1 small {
    font-size: 24.5px;
}

h2 small {
    font-size: 17.5px;
}

h3 small {
    font-size: 14px;
}

h4 small {
    font-size: 14px;
}



.well-small {
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #faf7fc;
}

.border {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
    background-color: #faf7fc;
}



#myCarousel.homCar .item img {
    width: 100%;
    max-height: 400px
}

#myCarousel .btn {
    border: 0 none;
    border-radius: 0 0 0 0;
    bottom: 49px;
    font-size: 18px;
    line-height: 42px;
    padding: 0 28px;
    position: absolute;
    right: 0;
    text-shadow: 0 0 0 transparent;
}

#myCarousel {
    position: relative;
    margin: 0;
}

.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
}

.cntr {
    text-align: center
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.carousel-control.right {
    right: 15px;
    left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.carousel-control.left {
    left: -15600px;
}

.carousel-control.right {
    right: -15600px;
}

.carousel:hover .carousel-control.right {
    right: 8px;
    left: auto;
}

.carousel:hover .carousel-control.left {
    left: 8px;
}

.control-group {
    margin-bottom: 10px;
    padding-left: 30px!important;
}

.label-custom {
    margin-left: 0!important;
}

legend + .control-group {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate;
}



.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
    color: #3a87ad;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
    color: #468847;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #b94a48;
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
    color: #c09853;
}



.shopBtn {
    min-height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background: rgb(0, 166, 90);
    display: inline-block;
    padding: 0 12px;
    border: 0;
}

.defaultBtn {
    min-height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    padding: 0 12px;
    color: #666;
    text-decoration: none;
    background: #e6e6e6;
    border: 0;
}

.shopBtn:hover {
    color: #fff;
    text-decoration: none;
    background: #008448
}

.carousel-control, .carousel-control:hover {
    background: rgba(248, 118, 16, 1);
    height: 43px;
    line-height: 34px;
    color: #fff;
}

.clr {
    clear: both;
}

#productDetail {
    margin-bottom: 0
}

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right {
    right: 0;
    left: auto;
    border-radius: 0;
    border-color: #ccc;
}

.navbar .nav, .marginLess {
    margin: 0
}

.nav-tabs,
.nav-pills {
    *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    line-height: 0;
    content: "";
}

.nav-tabs:after,
.nav-pills:after {
    clear: both;
}

.nav-tabs > li,
.nav-pills > li {
    float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.blue {
    color: #6666ff;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #005580;
    text-decoration: underline;
}

.polaroid-right {
    width: 180px;
    margin: auto;
    padding-top: 20px;
    position: relative;
    text-align: center;
    background-color: white;
}

.polaroid-right h2 {
    color: #6666ff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.polaroid-right h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

div.margin-top {
    margin-top: 10px;
    margin-bottom: 10px;
}

img.sidebar-right {
    width: 85%;
}

.saigo {
    height: 230px;
    width: 170px;
    margin: auto;
    background-size: 100% 230px;
}

h4.margin-bottom {
    padding-bottom: 10px !important;
}

.thumbnail > a {
    display: block;
    text-align: center
}

.thumbnail h5, .thumbnail p {
    text-align: center
}

.thumbnail {
    position: relative;
}

.tag {
    background: url("https://image.flaticon.com/icons/svg/199/199552.svg") no-repeat 0 0;
    background-size: 50px 80%;
    position: absolute;
    display: block;
    top: -4px;
    right: -5px;
    height: 50px;
    width: 50px;
    animation-name: new_label;
    animation-duration: .25s;
    animation-iteration-count: infinite;
}

@keyframes new_label {
    from {background-size: 50px 80%;}
    to {background-size: 50px 90%;}
}

.thumbnail > a.overlay, .thumbnail > a.zoomTool {
    display: none;
}

.thumbnail .btn {
    border-radius: 0 0 0 0;
}

.thumbnail h4 {
    line-height: 22px
}

.thumbnail img {
    max-width: 100%
}

.thumbnail:hover {
    border: 1px solid #CACACA;
}

.thumbnail .caption {
    padding: 9px;
    color: #555555;
    background: #F3F2F2;
}

.zoomTool {
    width: 120px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background: #f89406;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -60px;
    z-index: 999;
    display: none
}

.thumbnail {
    background: #fff
}

.zoomTool:hover {
    color: #fff;
    text-decoration: none;
}

#sidebar .nav a.zoomTool {
    color: #fff
}

.thumbnail a > img {
    display: block;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h4.oneline {
    color: #7575ff;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    height: 20px;
}

/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*a {*/
    /*color: #03658c;*/
    /*text-decoration: none;*/
/*}*/

ul {
    list-style-type: none;
}

/*body {*/
    /*font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;*/
    /*background: #dee1e3;*/
/*}*/

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    max-width: 60px;
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

.colorstar { color: #ee8b2d;}
.badForm {color: #FF0000;}
.goodForm {color: #00FF00;}
.evaluation { margin-left:30px;}
.lead {
    font-size: 29px!important;
}

.score {
    margin-top: 10px!important;
    font-size: 16px!important;
}

.btn-app {
    border-radius: 3px;
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px
}

.btn-app > .fa, .btn-app > .glyphicon, .btn-app > .ion {
    font-size: 20px;
    display: block
}

.btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa
}

.btn-app:active, .btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-app > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400
}

.bg-green, .callout.callout-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important
}

.bg-teal {
    background-color: #39cccc !important
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important
}

.like-red {
    color: #dd4b39;
}

textarea {
    height: 40px;
    width: 200px;
}

.btn-comment {
    margin-top: -33px;
}

.btn-review {
    margin-top: -33px;
}

.edit-text {
    width: 450px;
}

.marg-left25{
    margin-left: 25px;
}