h2.title {
    color: #6666ff !important;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
}
